results
*.xlsx
plot
examples
Thumbs.db
*~

*.dir
*win32

#CMake 
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
*.txt.user

#Visual Studio
build*
vc10*
vc11*
vc12*
*.o
Debug/
Release/
RelWithDebInfo/
*vcxproj*
*.sln
*.ipch
*.log
*.opensdf
*.pdb
*.sdf
*.suo

#LaTex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.bak

#Photoshop...
*.psd

#KDevelop 4 IDE
*kdev4*

*.osim

settings.xml

